<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-5 footer-left">

          <p><b>&copy; 2024–2026 Computer Vision Lab (CVLab)</b></p>

          <p>
            Department of Computer Science<br>
            Department of Artificial Intelligence<br>
            Hanyang University<br><br>

            222 Wangsimni-ro, Seongdong-gu<br>
            Seoul 04763, Republic of Korea
          </p>

        </div>

        <div class="col-sm-7 footer-links">

          We are part of:<br>

          <a href="https://www.hanyang.ac.kr">
            <img src="{{ site.baseurl }}/images/logopic/logo-hyu.svg"
                 class="img-responsive">
          </a>

          <a href="https://cs.hanyang.ac.kr/">
            <img src="{{ site.baseurl }}/images/logopic/logo-cs.png"
                 class="img-responsive">
          </a>

          <a href="https://nextai.hanyang.ac.kr/">
            <img src="{{ site.baseurl }}/images/logopic/logo-ai.svg"
                 class="img-responsive">
          </a>

        </div>

      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>